<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.bvbsaha.fitnesskursach">
          <uses-permission android:name="android.permission.INTERNET"/>
          <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
          <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
            android:name=".WorkoutCustomerApplication"
            android:allowBackup="true"
            android:icon="@drawable/ic_baseline_sports_gymnastics_24"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true">

        <activity android:name="com.bvbsaha.fitnesskursach.exercise.ExerciseViewActivity">
        </activity>
        <activity android:name="com.bvbsaha.fitnesskursach.viewer.PauseActivity">
        </activity>
        <activity android:name="com.bvbsaha.fitnesskursach.viewer.RepeatViewerActivity">
        </activity>
        <activity android:name="com.bvbsaha.fitnesskursach.viewer.TimeViewerActivity">
        </activity>
        <activity android:name="com.bvbsaha.fitnesskursach.viewer.StartActivity">
        </activity>
        <activity android:name="com.bvbsaha.fitnesskursach.creator.RepeatActivity">
        </activity>
        <activity android:name="com.bvbsaha.fitnesskursach.creator.TimeActivity">
        </activity>
        <activity android:name="com.bvbsaha.fitnesskursach.exercise.CreateExerciseActivity">
        </activity>
        <activity android:name="com.bvbsaha.fitnesskursach.workout.WorkoutViewActivity">
        </activity>
        <activity android:name="com.bvbsaha.fitnesskursach.workout.CreateWorkoutActivity">
        </activity>
        <activity android:name="com.bvbsaha.fitnesskursach.menu.MenuActivity">
        </activity>
        <activity
                android:name="com.bvbsaha.fitnesskursach.menu.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts"/>
    </application>

</manifest>